<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- ===================================================== -->
    <!-- Permissions -->
    <!-- ===================================================== -->

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AttendMate">

        <!-- ===================================================== -->
        <!-- ENTRY / LAUNCHER -->
        <!-- ===================================================== -->
        <activity
            android:name=".ui.entry.EntryActivity"
            android:exported="true"
            android:theme="@style/Theme.AttendMate.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- ===================================================== -->
        <!-- MAIN -->
        <!-- ===================================================== -->
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:theme="@style/Theme.AttendMate" />

        <!-- ===================================================== -->
        <!-- AUTH -->
        <!-- ===================================================== -->
        <activity android:name=".ui.auth.LoginActivity" android:exported="false" />
        <activity android:name=".ui.auth.RegisterActivity" android:exported="false" />
        <activity android:name=".ui.auth.ForgotPasswordActivity" android:exported="false" />

        <!-- ===================================================== -->
        <!-- SETUP -->
        <!-- ===================================================== -->
        <activity android:name=".ui.setup.SubjectSetupActivity" android:exported="false" />
        <activity android:name=".ui.timetable.setup.TimetableSetupActivity" android:exported="false" />

        <!-- ===================================================== -->
        <!-- SUBJECT / ATTENDANCE -->
        <!-- ===================================================== -->
        <activity android:name=".ui.subjects.ManageSubjectsActivity" android:exported="false" />
        <activity android:name=".ui.attendance.AttendanceListActivity" android:exported="false" />
        <activity android:name=".ui.attendance.AddAttendanceActivity" android:exported="false" />
        <activity android:name=".ui.attendance.EditAttendanceActivity" android:exported="false" />

        <!-- ===================================================== -->
        <!-- ANALYTICS / SETTINGS -->
        <!-- ===================================================== -->
        <activity android:name=".ui.analytics.AnalyticsActivity" android:exported="false" />
        <activity android:name=".ui.settings.SettingsActivity" android:exported="false" />

        <!-- ===================================================== -->
        <!-- LECTURE NOTIFICATIONS -->
        <!-- ===================================================== -->


        <!-- ===================================================== -->
        <!-- DAY CONFIRMATION -->
        <!-- ===================================================== -->



        <!-- Restore alarms after reboot -->

        <!-- ===================================================== -->
        <!-- LEGACY -->
        <!-- ===================================================== -->
        <activity
            android:name=".ui.splash.SplashActivity"
            android:exported="false"
            tools:ignore="UnusedActivity" />

        <activity
            android:name=".ui.friends.FriendsActivity"
            android:exported="false" />
        <activity android:name=".ui.friends.FriendProfileActivity"
            android:exported="false" />

    </application>

</manifest>
